<h2>Create a new drone</h2>
<form action="/drone/create" method="post">
<label for="title">Name:</label>
  <input
    type="text"
    name="name"
    id="name"
    value=""
    placeholder="Name of the Drone"
  />
  <label for="title">Propellers:</label>

   <input
    type="number"
    name="propellers"
    id="propellers"
    />
  <label for="title">Speed:</label>
   <input
    type="number"
    name="speed"
    id="speed"
  />
  <button type="submit">Create the Drone!</button>
</form>